.full-width-header .rs-header .menu-area .rs-menu-area{
    justify-content: flex-end !important;
}

.alert {
    padding: 20px;
    background-color: #3b986a;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
}

.error_input{
    border: 2px solid red !important;
    box-shadow: 0px 0px 5px red !important;
}
.font-size_strong{
    font-size: 1rem;
}