select{
    position: relative;
    height: 50px;
    padding: 6px 30px;
    width: 100%;
    color: #222222;
    font-size: 16px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border: none;
    box-shadow: 0 0 30px #eee;
}

.alert_success{
    background: #166bb3;
    color: white;
    box-shadow: 0px 4px 7px -2px #166bb3;
}

.full-width-header.home1-modifiy .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a.active{
    color: #21a7d0 !important;
}
.module_block{
    cursor: pointer;
}

.error_input_message{
    padding: 0;
    margin: 0;
    position: relative;
    right: 55px;
    bottom: 26px;
    color: #bd3636;
    font-weight: 600;
}

.question{
    background: #21a7d0;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.reponse input[type="radio"]{
    display: none;
}
.reponse input[type="radio"]:checked + label{
    border-left: 10px solid #273c66;
}
.reponse label{
    background: #21a7d096;
    padding: 25px;
    width: 100%;
    color: #203154;
    font-weight: bold;
    cursor: pointer;
}
.button_quiz{
    width: 100%;
    padding: 20px;
    border: none;
    background: #06475a;
    font-size: 1.2rem;
    color: white;
}

.button_quiz:hover{
    background: #06465ae3;
}

.quiz_message{
    padding: 0;
    margin: 0;
    color: #21a7d0;
    font-weight: bold;
    text-align: center;
}

select{
    position: relative;
    height: 50px;
    padding: 6px 30px;
    width: 100%;
    color: #222222;
    font-size: 16px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border: none;
    box-shadow: 0 0 30px #eee;
}

.name_profile{
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
}
.photo_label {
    background: white;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #eee;
}

input[type=file]{
    display: none;
}